.cardsContainer{
    width: 100%;
    height: 100%;
    background-image:url('../../Imagenes/mundoo.jpg');
    background: cover;
    padding: 0 0 2rem 0;
}
.filterContainer{
    display: inline-flex;
    width: 100%;
    height: 4vh;
    padding: 0 0 1rem 0;
    justify-content:space-between;
    align-items: stretch;
    text-decoration: none;
}
.button{
  margin-right: 15px;
}

.cardsBox{
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    justify-content: space-evenly;
    margin: 2rem 0 ;
    text-decoration: none;
}

.filterOrderBT {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  margin:  0px 15px 0px 15px;
 
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* margin-right:150px ; */
}

